body {
  background: #494949;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

.header {
  color: white;
  background: #757575;
  text-align: center;
  padding: 25px 0;
  text-transform: uppercase;
}

.header h1 {
  margin: 0;
  font-size: 3em;
  font-weight: 100;
}

.header h2 {
  margin: 0;
  font-weight: 1.5em;
  font-weight: 100;
}

.container {
  max-width: 650px;
  margin: 0 auto;
}

.message {
  float: left;
}

.controls {
  overflow: hidden;
  background: white;
  text-align: center;
}

.message span {
  padding: 7px;
  display: inline-block;
}

.modes {
  float: right;
}

.modes li {
  float: left;
  display: inline-block;
}

.button {
  padding: 12px;
  border: none;
  color: #2980b9;
  cursor: pointer;
  text-transform: uppercase;
}

.button.active{
  background: #2980b9;
  color: white;
}

.game .container {
  padding: 30px 0;
}

.color-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.color {
  width: 30%;
  min-height: 165px;
  margin-bottom: 30px;
  border-radius: 4px;
  transition: all .35s ease;
}

.box-shadow:hover {
  -webkit-box-shadow: 0px 0px 51px 2px rgba(0,0,0,0.63);
  -moz-box-shadow: 0px 0px 51px 2px rgba(0,0,0,0.63);
  box-shadow: 0px 0px 51px 2px rgba(0,0,0,0.63);
}

.game-message {
  padding: 12px 0;
  display: inline-block;
  position: relative;
}

@keyframes zoomOut {
  0% {
    transform: scale(2);
  }

  100% {
    transform: scale(1);
  }
}

.zoom-out-enter {
  transform: scale(2);
  transition: all .2s;
}

.zoom-out-enter.zoom-out-enter-active {
  transform: scale(1);
}

.zoom-out-leave {
  opacity: 1;
  transition: all .01s;
  position: absolute;
  z-index: -1;
  font-size: 0;
}

.zoom-out-leave.zoom-out-leave-active {
  opacity: 0;
  transform: scale(0);
}

@media (max-width: 660px) {
  .game .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  .color {
    width: 44%; /*88*/
    margin-left: 3%;
    margin-right: 3%;
  }

  .header h1 {
    font-size: 2.5em;
  }
}

@media (max-width: 360px) {
 .header h1 {
   font-size: 2em;
 }

 .color {
   min-height: 145px;
 }
}

@media (max-width: 320px) {
 .header h1 {
   font-size: 2em;
 }

 .color {
   min-height:115px;
 }
}
