ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

.header {
  color: white;
  background: #2980b9;
  background: rgb(244,25,25);
  text-align: center;
  padding: 25px 0;
  text-transform: uppercase;
}

.header h1 {
  margin: 0;
  font-size: 3em;
  font-weight: 100;
}

.header h2 {
  margin: 0;
  font-weight: 1.5em;
  font-weight: 100;
}

.container {
  max-width: 650px;
  margin: 0 auto;
}

.message {
  float: left;
}

.controls {
  overflow: hidden;
}

.message span {
  padding: 7px;
  display: inline-block;
}

.modes {
  float: right;
}

.modes li {
  float: left;
  display: inline-block;
}

.button {
  padding: 10px;
  border: none;
  color: #2980b9;
  cursor: pointer;
  text-transform: uppercase;
}

.button.active{
  background: #2980b9;
  color: white;
}
